<!DOCTYPE html>
<html>
<head>
  <title>Wotviz</title>
</head>
<body>
<form id="form">
  <input type="text" name="keyid" id="keyid" maxlength="8" placeholder="1234ABCD">
</form>
<div id="graph" style="height: 600px"></div>
<script type="text/javascript" src="{{ url_for('static', filename='jquery-2.0.3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='sigma.min.js') }}"></script>
<script type="text/javascript">
var graph = sigma.init(document.getElementById('graph'));
graph.drawingProperties({
  defaultEdgeType: 'curve',
  defaultEdgeArrow: 'target'
});
graph.addNode('hello',{
  label: 'Enter a short key ID above',
  forceLabel: 1,
  color: '#ff0000',
  x: 1,
  y: 1
});
graph.draw();

$('#form').submit(function (event) {
  var keyid = $('#keyid').val();
  $.getJSON('ego/' + keyid + '.json', function (data) {
    console.log(data);
    graph.emptyGraph();
    for (var i = 0; i < data.nodes.length; i++) {
      graph.addNode(i, {
        label: data.nodes[i].label,
        color: data.nodes[i].id == keyid ? '#f00' : '#00f',
        size: 6,
        x: Math.random(),
        y: Math.random()
      });
    }
    for (var i = 0; i < data.links.length; i++) {
      graph.addEdge(i, data.links[i].source, data.links[i].target);
    }
    graph.draw();
  });
  event.preventDefault();
});
</script>
</body>
</html>
